{
    "codec": "utf-8",
    "id": "0",
    "type": "ed2",
    "name": "乾",
    "eds": "0, 0",
    "edup": "0",
    "eddown": "0",
    "symbol": "000000",
    "symbolexplain": [
        [
            { "id": "ori", "title": "易经原文", "content": "潜龙勿用"},
            { "id": "trans", "title": "易经翻译", "content": "潜藏的龙, 不要施展威力"},
            { "id": "explain", "title": "易经翻译", "content": "这是乾卦第一爻的爻辞，第一爻是主卦下爻，代表主方的行动，这条爻是阳爻，象征主方积极主动地谋取和扩大自己的利益，比如说，创新、创业、投资、进攻、求职、示爱，等等。龙是富有活力和强健的象征，常言“龙腾虎跃”。在这里，龙代表主方。主方积极主动，努力进取，是正确的行动。但是这种行动与客方有抵触。“潜龙”，把活力和才能适当第潜藏起来；“勿用”，不要用。但是，不是说完全不要用，而是说在“潜藏”意义上的不要用，而是说要适当地用，避免和客方抵触，遇有抵触，就要设法避让。只要注意避让抵触，主动积极的行动是正确的。主方应当尽量做好客方希望和要求做的，避免做客方不希望、或者没有要求做的事。如果不“潜”，不“勿用”，则可能遇到麻烦，情况可能会变得不利于主方。"},
            { "id": "structure", "title": "结构分析", "content": "第一爻位置是阳位，这条爻是阳爻，阳爻在阳位，当位，然而与四阳不有应。当位表明主方的积极主动是对主方有利的潜在因素；不有应表明这种有利的潜在因素并不是真正的对主方有利的因素。主方不可盲目行动，应当耐心地等待时机，“潜龙，勿用”，在发现有机可乘的时候，立即行动。"}
        ],
        [
        ],
        [
        ]
    ],
    "explainlist": [
    ]
}